/Manifest.toml
/test/Manifest.toml
*.swp
examples/vumps/QFM.jl
.DS_Store
BB_corr.pdf
corr_0.7.png
corr_0.8.png
corr_0.96.png
corr_1.0.png
corr_1.1.png
corr_1.3.png
corr_1.04.png
corr_BDBD_(400)_(0.0)
corr_BDBD_(400)_(0.96)
corr_BDBD_(400)_(1.0)
corr_BDBD_(400)_(1.04)
corr_BDBD_(400)_(2.0)
corr_BDBD_(500)_(0.0)
corr_BDBD_(500)_(0.96)
corr_BDBD_(500)_(1.0)
corr_BDBD_(500)_(1.04)
corr_BDBD_(500)_(2.0)
corr_BDBD_(600)_(0.0)
corr_BDBD_(600)_(2.0)
corr_entropy_CDW.txt
corr_length.pdf
corr_NN_(400)_(0.0)
corr_NN_(400)_(0.96)
corr_NN_(400)_(1.0)
corr_NN_(400)_(1.04)
corr_NN_(400)_(2.0)
corr_NN_(500)_(0.0)
corr_NN_(500)_(0.96)
corr_NN_(500)_(1.0)
corr_NN_(500)_(1.04)
corr_NN_(500)_(2.0)
corr_NN_(600)_(0.0)
corr_NN_(600)_(2.0)
correlator_szsz_0.96.txt
correlator_szsz_1.0.txt
correlator_szsz_1.04.txt
correlators.txt
ent_entropy_CDW.txt
from_BOW.pdf
from_CDW.pdf
iDMRG_data_right.txt
iDMRG_data_triallowbd_BOW.txt
iDMRG_data_triallowbd_CDW.txt
iDMRG_data_vuletic_right.txt
interpolated_6.pdf
interpolated_10.pdf
MPS.h5
SzSz_corr.pdf
timing.pdf
vuletic.pdf
