/Manifest.toml
/test/Manifest.toml
*.swp
BB_corr.pdf
corr_entropy_CDW.txt
corr_length.pdf
correlator_szsz_0.96.txt
correlator_szsz_1.0.txt
correlator_szsz_1.04.txt
correlators.txt
ent_entropy_CDW.txt
from_BOW.pdf
from_CDW.pdf
iDMRG_data_right.txt
iDMRG_data_triallowbd_BOW.txt
iDMRG_data_triallowbd_CDW.txt
iDMRG_data_vuletic_right.txt
interpolated_6.pdf
interpolated_10.pdf
MPS.h5
SzSz_corr.pdf
vuletic.pdf
.vscode/settings.json
examples/vumps/QFM.jl
